

.navbar-fixed-top, .navbar-fixed-bottom {
 
position: static !important;

right: 0;

left: 0;

z-index: 1 !important;

}


body {

height: auto;

margin: 0;

padding: 0;

word-wrap: break-word;

word-break: break-all;

font-family: inherit !important;

}


.main {

width: 80%;

margin: auto;

}


#content {

margin: 0px;

}

a {

color: blue;

cursor: pointer;

text-decoration: none;

}

a:hover {text-decoration: underline;}

ul.menu {

background: bisque none repeat scroll 0 0;

height: 40px;

line-height: 40px;

margin: 0 0 10px 0;

padding: 0 10px;

width: auto;

}

ul.menu > li {

display: inline;

}

ul.menu > li > a {

    
display: inline-block;
font-weight: bold;
height: inherit;
padding: 0 10px;
transition: all 0.5s ease 0s;

}

div.block-input {

width: 200px;
margin: 100px auto auto auto;
	
}

div.block-input div {

margin-bottom: 10px; 

}

table.preview {

width: 100%;

height: auto;

}


table.message {

width: 100%;

height: auto;

border-bottom: 1px solid #CCCCCC; 

margin-bottom: 10px;

}

table.message div {

margin-bottom: 8px;

}


.feedback {

display: block;

position: relative;

list-style: outside none none;

margin: 15px 0;

padding: 0;

}


.feedback li {

margin-bottom: 10px; 

}

.feedback input {

width: 148px;

padding: 5px;

}

.feedback textarea {

width: 300px; height: 100px;

}


.error {

border: 1px solid red;

}


